<body>
  <div class="about-main">
    <h1 class="about-bundle">About</h1>
    
    <p class="home-intro-p">
      <li class="home-intro-li"> Bundle is for <span class="h-i-li">developers</span>.</li>     
      <li class="home-intro-li"> It provides a simple interface for us to communicate daily discoveries about code and things that come along with it in the form of short <span class="h-i-li">notes</span> that are easy to organize and find. </li>
      <li class="home-intro-li"> To learn more read the About page or simply register and start using it. <span class="h-i-li"> Enjoy. </span> </li>
    </p>
  </div>
</body>
