<body>
  <div class="about-main">
    <h1 class="about-bundle">About</h1>
    
    <p class="about-p">     
      Bundle is a web app that provides us (developers) with a simple interface to communicate daily discoveries about code in the form of short <span class="h-i-li">notes</span> that are easy to find, organize and store. I started work on it at the end of the Web Development course I did at General Assembly as my coursemates and I felt the need to continue sharing with each other new things we learn after we have finished the course. During our program we would usually use Slack for this purpose or meet in person. But chat messages often get lost and it is therefore not that easy to follow up on what people in your 'team' are learning today and this week that may be useful for you. With Bundle I am trying to address this and few other issues.
    </p>
    <p class="about-p">
      On Bundle we can write notes, comment on them and save them for future reference. It is therefore a kind of notebook that can be used by many. The functionality of the app is very simple but it does serve the purpose and provides us with a simple interface to help each other learn new stuff about code on a daily basis.
    </p>
    <p class="about-p"> 
      Now that the first version of MVP is ready I would love you to jump into it, play with the app, use it and bring forward your suggestions on how we could imporve it (features, functionality, design, bugs and etc.). From now on I plan to deploy new updates and features on a regular basis and will notify users about them. 
    </p>
    <p class="about-p"> 
      I beleive that if it is done right, this tool can become a very useful daily attribute for web developers. If anyone wants to send me his/her feedback, bring forward suggestions, or wants to join me in working on this application please email me on <span class="h-i-li">danizraikat@gmail.com</span> 
    </p>
    <p class="about-p"> 
      Enjoy!
    </p>
    <p class="about-p"> 
      Dani
    </p>

  </div>
</body>










