
<div class="div-logo-home"> 
  <h1 class="home-h1"> BUNDLE </h1>
  <h3 class="home-h3-tagline"> Tagline </h3>
</div>

<div class="div-intro-home">
  <p class="home-intro-p">
    Bundle is for developers. It provides a simple interface for us to communicate new discoveries in the form of... 
    Let's use Bundle to exchange knowledge and learn from each other. 
  </p>
</div>

<button class="home-login"> Log in  </button>
<button class="home-signup"> Sign up  </button>