<body class="body-notes-show">

  <p>
    <%= @favorite.user.username %>
    <%= @favorite.title %>
  </p>

  <%= link_to 'Edit', edit_favorite_path(@favorite) %> |
  <%= link_to 'Back', favorites_path %>
</body>