// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 45px;
  height: 45px;
  
  border-radius: 5px;
}

.notes-index-ul {
  margin-left: 5%;
}

.notes-index-button {
  width: 400px;
  list-style-type: none; 
  margin: 10px;
}

.new-note {
  color: #FFFFFF;
}

.notes-index-left {
  float: left;  
  width: 75%;
}

.notes-index-right {
  float: right; 
  width: 15%;
  margin-right: 6%; 
  margin-top: 10px;
}

.field-new-note {
  width: 30%;
}

.notes-index-users-button {
  width: 200px;
  margin: 0px;
  margin-right: 10px;
  border: 0.5px solid #4C4C4C; 
  list-style-type: none; 
}







