// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-notes-index {
  background-color: #CCCCCC;
}

.notes-index-left, .notes-index-right {
  padding-top: 3%;
}

.notes-index-left {
  // margin-left: 5%;
}

.notes-index-right {
  // margin-right: 5%;
}


//NEW NOTE   

.field-new-note, .new-note-text-area {
  width: 400px;
  background-color: #E6E6E6;
  
  border: 0px;

}

.new-note {
  color: #FFFFFF;
}

.new-note-index {
  margin-left: 5%;
}

.error_explanation, .field-new-note, .field-new-note-tags, .actions {
  margin-left: 10px; 
}

.tiny {
  height: 25px;
}

.actions-create-note {
  margin: 10px; 
}

.new-note-submit-button {
  background-color: #E6E6E6; 
  border: 0px;
}

.new-note-submit-button:hover {
  background-color: #E6E6E6; 
  border: 1px solid;
  border-color: #4C4C4C; 
}

//NOTES LIST
.notes-index-ul {
  margin-left: 5%;
}

.notes-index-button {
  width: 400px;
  list-style-type: none; 
  margin: 10px;
  background-color: #E6E6E6;
  
  padding: 0px;
  // border: 1px solid #CCCC52;
}

.notes-index-button:hover {
  // border: 1px solid #FFFFFF;
  background-color: #E6E6E6;     
}

//INSIDE NOTE BUTTON

.ul-row1-notes-index {
  // background-color: #666666;
  text-align: left;
  border: -1px; 
  padding: 0px;
  margin-left: 15px;      
  margin-bottom: 0px;
}

  .li-notes-profile-img, .li-notes-user-first-name, .li-notes-user-last-name, .li-notes-user-username {
    display: inline;   
  }
  
  .li-notes-profile-img, .c-n-index {
    margin-left: 0px;
    width: 50px;
    height: 50px; 
  }

    .notes-profile-img {
      width: 50px; 
      height: 50px; 
    }

  .li-notes-user-first-name {
    color: #4C4C4C;
    padding-left: 5px; 
  }   

  .li-notes-user-last-name {
    color: #4C4C4C;
  }

    .link-notes-user-username:link {
      color: #6685E0;  
    }   

    .link-notes-user-username:visited {
      color: #6685E0;  
    }   

    .link-notes-user-username:hover {
      background-color: transparent; 
      // color: #CCCC52;
      color: #6685E0; 
      text-decoration: underline;    
    }

    .link-notes-user-username:active {
      color: #6685E0;  
    }   

.row2-notes-content {  
  width: 360px; 
  // margin-left: 0px;
  // margin-top: 20px;
  border-top: 1px solid #CCCCCC;
  margin-left: 15px;      
  margin-top: 0px;
  margin-bottom: 0px;
}

  .p-notes-content{
    font-family: Courier;
    text-align: left; 
    // background-color: #CCCCCC;
    background-color: #E6E6E6;
    
    color: #1A1A1A; 
    padding: 8px;
    padding-left: 8px; 
  }

.row3-notes-created-at {
  width: 360px; 
  margin-left: 15px;      
  margin-top: -20px;   
}

  .li-notes-created-at {
    font-family: Courier;
    font-size: 10px;
    text-align: left; 
    // background-color: #CCCCCC;
    background-color: #E6E6E6;
    color: #1A1A1A; 
    padding: 8px;
    padding-left: 8px;  
  }

.ul-row4-notes-index {
  text-align: left;
  margin-top: 3px; 
  margin-left: 15px;
  margin-right: 25px;
  border-bottom: 1px solid #CCCCCC; 
}

  .li-c-n-index, .li-e-n-index, .li-d-n-index, .li-s-n-index {
    display: inline;      
  }

  .li-c-n-index {
    margin-left: 8px;     
  }
  .li-e-n-index, .li-d-n-index {
    padding-left: 5px; 
  }

  .li-s-n-index {
    padding-left: 5px;    
  }

    .link-c-n-index:link, .link-e-n-index:link, .link-d-n-index:link, .link-s-n-index {
      color: #4C4C4C;
      font-size: 11px;
    }   

    .link-c-n-index:visited, .link-e-n-index:visited, .link-d-n-index:visited, .link-s-n-index:visited {
      color: #4C4C4C;  
    }   

    .link-c-n-index:hover, .link-e-n-index:hover, .link-d-n-index:hover {
      background-color: transparent; 
      color: #4C4C4C;
      text-decoration: underline;       
    }

    .link-s-n-index:hover {
      background-color: transparent;
      // color: #FF8080;   
      color: #FF0066; 
      text-decoration: underline;
    }

    .link-c-n-index:active, .link-e-n-index:active, .link-d-n-index:active, .link-s-n-index:active {
      color: #4C4C4C;  
    }  



img {
  width: 45px;
  height: 45px;
  
  border-radius: 0px;
}


.notes-index-left {
   
  float: left;  
  width: 75%;
  margin-top: 10px; 
}

.notes-index-right {
  float: right; 
  width: 15%;
  margin-right: 6%; 
  margin-top: 10px;  
}


//USERS LIST// 

.notes-index-right {
  margin-top: 69px;
}

.bundle-users {
  // font-family: Helvetica; 
  font-size: 26px; 
  list-style-type: none; 
  color: #CCCCCC; 
  margin-left: 18px; 
  margin-bottom: 30px;
}

.button-users-n-index {    
  width: 200px;
  height: 45px;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  // background-color: #666666; 
  // background-color: #B2B2B2;   
  background-color: #E6E6E6;  
  list-style-type: none; 
}

.button-users-n-index:visited {  
  background-color: #E6E6E6;      
}

.button-users-n-index:hover {  
  background-color: #B2B2B2;      
}

.button-users-n-index:active {  
  background-color: #E6E6E6;      
}


.ul-row1-button-users-n-index {
  text-align: left; 
  padding: 0px;
  margin-left: 15px; 
}

.li-users-image-n-index, .li-users-username-n-index {
  display: inline;       
}

.li-users-username-n-index {
  padding-left: 5px;  
}  

  .link-users-username-n-index:link {
    color: #6685E0;  
  }   

  .link-users-username-n-index:visited {
    color: #6685E0;  
  }   

  .link-users-username-n-index:hover {
    background-color: transparent; 
    color: #6685E0;  
    text-decoration: underline;  
  }

  .link-users-username-n-index:active {
    color: #6685E0;  
  }    


.tag-notes-index {
  list-style-type: none;  
}


.notes-profile-img {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;  
}









