// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//NOTES LIST
.notes-index-ul {
  margin-left: 5%;
}

.notes-index-button {
  width: 400px;
  list-style-type: none; 
  margin: 10px;
  background-color: #666666;   
  border-radius: 0px;
  padding: 0px;
  // border: 1px solid #CCCC52;
}

//INSIDE NOTE BUTTON
.ul-row1-notes-index {
  // background-color: #666666;
  text-align: left;
  border: -1px; 
  padding: 0px;
  margin-left: 15px;      
  margin-bottom: 0px;
}
  
  .li-notes-profile-img, .c-n-index {
    margin-left: 0px;
    width: 50px;
    height: 50px; 
  }

    .notes-profile-img {
      width: 50px; 
      height: 50px; 
    }

  .li-notes-user-username {
    color: #E6E65C; 
  }


.row2-notes-content {  
  width: 360px; 
  // margin-left: 0px;
  // margin-top: 20px;
  border-radius: 0px;
  margin-left: 15px;      
  margin-top: 0px;
}

  .p-notes-content{
    font-family: Courier;
    text-align: left; 
    background-color: #CCCCCC;
    color: #1A1A1A; 
    padding: 8px;
    padding-left: 8px; 
  }

img {
  width: 45px;
  height: 45px;
  
  border-radius: 0px;
}






.notes-index-button:hover {
  background-color: #808080;   
}

.new-note {
  color: #FFFFFF;
}

.new-note-index {
  margin-left: 5%;
}

.error_explanation, .field-new-note, .field-new-note-tags, .actions {
  margin-left: 10px; 
}

.notes-index-left {
   
  float: left;  
  width: 75%;
  margin-top: 10px; 
}

.notes-index-right {
  float: right; 
  width: 15%;
  margin-right: 6%; 
  margin-top: 10px;
}

.field-new-note {
  width: 30%;
}

.notes-index-users-button {
  width: 200px;
  margin: 0px;
  margin-right: 10px;
  border: 0.5px solid #4C4C4C; 
  list-style-type: none; 
}

.field-new-note {
  width: 820px;
}

.new-note-text-area {

}

.tag-notes-index {
  list-style-type: none;  
}

.tiny {
  height: 25px;
}


.actions-create-note {
  margin: 10px;
}





.notes-profile-img {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;  
}



table {
  background-color: transparent; 
  border: 0px;
  margin-left: -10px;
  width: 360px;
}

table:hover {
  background-color: transparent;    
}

.c-e-d-n-index {
  background-color: #666666;
  color: red; 
}

li {
  list-style-type: none;
  display: inline;   
}



